.footer li {
    cursor: pointer;
}

.pages {
    display: flex;
}

.pagination {
    margin: 1rem auto;
}

.problems {
    margin-top: 8rem;
}

.panel-heading {
    position: relative;
}

.fa-arrow-up,
.fa-arrow-down,
.fa-pencil,
.fa-trash,
.fa-check {
    position: absolute;
    top: 1rem;
}

.fa-arrow-up:hover,
.fa-arrow-down:hover,
.fa-pencil:hover,
.fa-check:hover {
    color: #E6E6E6;
    cursor: pointer
}

.fa-trash:hover {
    cursor: pointer;
    color: #d9534f;
}

.fa-trash {
    right: 1rem;
}

.fa-pencil {
    right: 3rem;
}

.fa-arrow-down {
    right: 5rem;
}

.fa-arrow-up {
    right: 7rem;
}

.right {
    position: absolute;
    right: 1rem;
    top: 1.7rem;
    font-size: 1.7rem;
    color: #337ab7;
}

.fa-plus:hover,
.fa-times:hover,
.fa-undo:hover {
    cursor: pointer;
    color: #1A619E;
}

.fa-undo {
    margin-right: 1rem;
}

.fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #337ab7;
}

.new-problem {
    margin: 5rem 5rem 8rem 5rem;
}

.keywords {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0;
}

.keywords span {
    font-weight: normal;
}

.left-search {
    position: absolute;
    width: 20%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.left-search button {
    padding: 0.9rem;
}

.panel-footer {
    position: relative;
}

.panel-footer .edit-keyword {
    right: 1rem;
    color: #404040;
}

.panel-footer .edit-keyword:hover {
    color: black;
}

.panel-footer .fa-check {
    top: 2rem;
}

.panel-footer .fa-check:hover {
    color: #2ecc71;
}

.editing-keywords {
    display: flex;
}

.editing-keywords li {
    background-color: #dcdcdc;
    border-radius: 10px;
    margin-right: 1rem;
}

.editing-keywords li:hover,
.editing-keywords li:focus,
.editing-keywords li:active,
.editing-keywords a:hover,
.editing-keywords a:focus,
.editing-keywords a:active {
    background-color: #dcdcdc !important;
    border-radius: 10px;
}

.editing-keywords a {
    padding-right: 3rem !important;
}

.remove-keyword {
    color: #404040;
}

.remove-keyword:hover {
    color: #d9534f;
}

.editing-keywords a,
.editing-keywords a:hover {
    color: black;
}

.add-keyword {
    margin: 1.3rem;
}

.add-keyword i:hover {
    color: #2ecc71;
}